useDynLib("fdrDEP")

export("fdrDEP", "plis", "zvalueTransform", "ExpectationMaximisation", "initialisation", "loadseed", "runseed", "seedinit", "Expectation", "Maximisation", "ComputeCG", "LineSearch", "ComputeGradient", "pii.A")

importFrom("parallel")

